<div class="card">
  <div class="d-flex product-have">
    <h3>
      You have
      <label for="" class="text-danger">{{ cartProducts.length }}</label>
      product
    </h3>
    <button class="btn btn-light text-danger" (click)="clearAll()">
      Clear All Cart
    </button>
  </div>
  <div class="card-table">
    <div class="card-product">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartProducts">
            <td><img src="{{ item.item.image }}" alt="" /></td>
            <td>{{ item.item.title }}</td>
            <td>{{ item.item.price }}</td>
            <td>
              <input
                type="number"
                [(ngModel)]="item.quantity"
                (change)="changeQuantity()"
                class="form-control text-center"
              />
            </td>
            <td>{{ item.item.price * item.quantity }}</td>
            <td>
              <button class="btn btn-danger" (click)="delete('index')">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td>
              <div class="total d-flex">
                <h3>ToTal: &nbsp;</h3>
                <h3>{{ cartTotal }}</h3>
              </div>
            </td>
            <td></td>
            <td>
              <button class="btn btn-success" (click)="addOrder()">
                Order Now
              </button>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="alert alert-success my-5" role="alert" *ngIf="success">
    <strong>Well Done!</strong> Your Oreder Is Success
  </div>
</div>
